.genre {
  border: .1rem solid #032541;
  border-radius: .3rem;
  margin-right: .3rem;
  margin-top: .3rem;
  padding: .2rem;
  font-size: .9rem;
  font-weight: bold;
  background-color: rgb(184, 184, 184);
}